USE [master]
GO
/****** Object:  Database [ThuocTay]    Script Date: 10/21/2023 2:46:10 PM ******/
CREATE DATABASE [ThuocTay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ThuocTay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ThuocTay.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ThuocTay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ThuocTay_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ThuocTay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ThuocTay]
GO
/****** Object:  Table [dbo].[ct_don_hang]    Script Date: 10/21/2023 2:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ct_don_hang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_don_hang] [int] NOT NULL,
	[id_thuoc] [int] NOT NULL,
	[so_luong] [int] NOT NULL,
 CONSTRAINT [PK_ct_don_hang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_ct_don_hang] UNIQUE NONCLUSTERED 
(
	[id_don_hang] ASC,
	[id_thuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ct_duoc_chat]    Script Date: 10/21/2023 2:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ct_duoc_chat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ham_luong] [real] NOT NULL,
	[id_duoc_chat] [int] NOT NULL,
	[id_thuoc] [int] NOT NULL,
 CONSTRAINT [PK__ct_duoc___3213E83F83D0E364] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ct_gio_hang]    Script Date: 10/21/2023 2:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ct_gio_hang](
	[id_nguoi_dung] [int] NOT NULL,
	[id_thuoc] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ct_gio_hang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[don_hang]    Script Date: 10/21/2023 2:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[don_hang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sdt] [varchar](10) NOT NULL,
	[ten_nguoi_nhan] [nvarchar](50) NOT NULL,
	[dia_chi] [nvarchar](255) NOT NULL,
	[trang_thai] [int] NOT NULL,
	[thoi_gian] [datetime] NOT NULL,
	[id_nguoi_dung] [int] NOT NULL,
 CONSTRAINT [PK_don_hang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[duoc_chat]    Script Date: 10/21/2023 2:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[duoc_chat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_duoc_chat] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__duoc_cha__3213E83F1C5103DF] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_ih4xx1s9uban9je2nxju0eqvq] UNIQUE NONCLUSTERED 
(
	[ten_duoc_chat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoi_dung]    Script Date: 10/21/2023 2:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoi_dung](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sdt] [varchar](10) NOT NULL,
	[mat_khau] [varchar](10) NOT NULL,
	[ten_nguoi_dung] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_nguoi_dung] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhom]    Script Date: 10/21/2023 2:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhom](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_nhom] [nvarchar](100) NOT NULL,
	[hinh_anh] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__nhom__3213E83F92AD1C45] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_gslblrsy0rbiioryr3ml7dgg6] UNIQUE NONCLUSTERED 
(
	[hinh_anh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_ijqhhfvbjr0gh7a6efifw5k2x] UNIQUE NONCLUSTERED 
(
	[ten_nhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thuoc]    Script Date: 10/21/2023 2:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thuoc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cong_dung] [text] NULL,
	[hd_su_dung] [text] NULL,
	[hinh_anh] [nvarchar](255) NULL,
	[kinh_doanh] [bit] NULL,
	[id_nhom] [int] NULL,
	[id_thuong_hieu] [int] NULL,
	[gia] [numeric](38, 2) NULL,
	[da_ban] [int] NULL,
	[tong] [int] NULL,
	[ten_thuoc] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__thuoc__3213E83FFDB85509] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_3ua9mf45s0l8a7hf6lp7evyks] UNIQUE NONCLUSTERED 
(
	[ten_thuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thuong_hieu]    Script Date: 10/21/2023 2:46:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thuong_hieu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_thuong_hieu] [nvarchar](255) NOT NULL,
	[hinh_anh] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__thuong_h__3213E83F3E95880C] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_gygriqct8ovdqnujffj9v5lrg] UNIQUE NONCLUSTERED 
(
	[ten_thuong_hieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_l8wl4t8ha1eqr24dadnqbicb7] UNIQUE NONCLUSTERED 
(
	[hinh_anh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[don_hang] ADD  CONSTRAINT [DF_don_hang_trang_thai]  DEFAULT ((0)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[don_hang] ADD  CONSTRAINT [DF_don_hang_thoi_gian]  DEFAULT (getdate()) FOR [thoi_gian]
GO
ALTER TABLE [dbo].[ct_don_hang]  WITH CHECK ADD  CONSTRAINT [FK_ct_don_hang_don_hang] FOREIGN KEY([id_don_hang])
REFERENCES [dbo].[don_hang] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ct_don_hang] CHECK CONSTRAINT [FK_ct_don_hang_don_hang]
GO
ALTER TABLE [dbo].[ct_don_hang]  WITH CHECK ADD  CONSTRAINT [FK_ct_don_hang_thuoc] FOREIGN KEY([id_thuoc])
REFERENCES [dbo].[thuoc] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ct_don_hang] CHECK CONSTRAINT [FK_ct_don_hang_thuoc]
GO
ALTER TABLE [dbo].[ct_duoc_chat]  WITH CHECK ADD  CONSTRAINT [FK63e8oy2ccoxxwx3bju7nuld1i] FOREIGN KEY([id_duoc_chat])
REFERENCES [dbo].[duoc_chat] ([id])
GO
ALTER TABLE [dbo].[ct_duoc_chat] CHECK CONSTRAINT [FK63e8oy2ccoxxwx3bju7nuld1i]
GO
ALTER TABLE [dbo].[ct_duoc_chat]  WITH CHECK ADD  CONSTRAINT [FKm6wwosxoe9yjr5648cwkqcwv1] FOREIGN KEY([id_thuoc])
REFERENCES [dbo].[thuoc] ([id])
GO
ALTER TABLE [dbo].[ct_duoc_chat] CHECK CONSTRAINT [FKm6wwosxoe9yjr5648cwkqcwv1]
GO
ALTER TABLE [dbo].[ct_gio_hang]  WITH CHECK ADD  CONSTRAINT [FK_ct_gio_hang_nguoi_dung] FOREIGN KEY([id_nguoi_dung])
REFERENCES [dbo].[nguoi_dung] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ct_gio_hang] CHECK CONSTRAINT [FK_ct_gio_hang_nguoi_dung]
GO
ALTER TABLE [dbo].[ct_gio_hang]  WITH CHECK ADD  CONSTRAINT [FK_ct_gio_hang_thuoc] FOREIGN KEY([id_thuoc])
REFERENCES [dbo].[thuoc] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ct_gio_hang] CHECK CONSTRAINT [FK_ct_gio_hang_thuoc]
GO
ALTER TABLE [dbo].[don_hang]  WITH CHECK ADD  CONSTRAINT [FK_don_hang_nguoi_dung] FOREIGN KEY([id_nguoi_dung])
REFERENCES [dbo].[nguoi_dung] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[don_hang] CHECK CONSTRAINT [FK_don_hang_nguoi_dung]
GO
ALTER TABLE [dbo].[thuoc]  WITH CHECK ADD  CONSTRAINT [FKb85j4u0laqksgdtdnk6q9fhk1] FOREIGN KEY([id_nhom])
REFERENCES [dbo].[nhom] ([id])
GO
ALTER TABLE [dbo].[thuoc] CHECK CONSTRAINT [FKb85j4u0laqksgdtdnk6q9fhk1]
GO
ALTER TABLE [dbo].[thuoc]  WITH CHECK ADD  CONSTRAINT [FKi8sr8lwm30bb1q8efyeo580yc] FOREIGN KEY([id_thuong_hieu])
REFERENCES [dbo].[thuong_hieu] ([id])
GO
ALTER TABLE [dbo].[thuoc] CHECK CONSTRAINT [FKi8sr8lwm30bb1q8efyeo580yc]
GO
USE [master]
GO
